@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap');

h1 {
    @apply font-semibold text-xl text-gray-800 leading-tight;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    @apply border-gray-300 rounded-md shadow-sm px-3 py-2;

    &.form-invalid {
        @apply border-red-500 focus: border-red-300 focus:ring-red-200;
    }

    &:focus {
        @apply ring ring-opacity-50 border-primary-300 ring-primary-200;
    }
}

select {
    @apply pr-8;
}
